VK_GROUP_TOKEN=xxx                 # Токен сообщества
VK_PROTECTED_KEY=xxx               # Токен для проверки подписи
VK_SERVICE_TOKEN=xxx               # Сервисный ключ приложения
VK_GROUP_CONFIRMATION_TOKEN=xxx    # Токен для подтверждения Callback API
VK_APP_ID=11111                    # ID приложения
AI_SERVICE_API_KEY=xxxx            # Ключ от AITunnel
GROUP_ID=1111                      # ID сообщества
DB_USER=postgres                   # Имя пользователя бд
DB_PASSWORD=strong_password        # Пароль пользователя бд
DB_HOST=postgres                   # Хост бд
DB_PORT=5432                       # Порт бд